
.cropped {
    width: 200px;
    height: 300px;
    object-fit: cover;
    }
.foot {
    background-color:rgb(237, 237, 237);
}
.color {
    color:darkgrey
}
.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
.img{
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}